/* STYLESHEET */

*{
    margin: 0;
    padding: 0;
}
body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.clear{
    clear: both;
}
.header{
    margin-top: 30px;
    background: #404040;
    /*height: 300px;*/
    padding: 25px 0;
}
.header .img{
    text-align: center;
}
.header .img img{
    height: 250px;
}
.header .info {
    color: white;
}
.header .info h1{
    font-weight: bold;
    margin: 0;
    font-size: 48px;
}
.header .info h3{
    margin: 0;
    color: #00A6FA;
    font-weight: bold;
}
.header .info span{
    background: linear-gradient(to right, #1C4153 0%, #02987F 100%);
    width: 100%;
    height: 15px;
    display: block;
    margin: 20px 0;
}
.header .info p{
    font-size: 28px;
}
.header .col-md-8{
    text-align: center;
}
.header .col-md-8 h1{
    margin-top: 20px;
}
.contact{
    background: linear-gradient(to bottom right, #233dd8 0%, #11f3df 100%);
    padding: 40px 0;
}
.contact .icon{
    text-align: center;
}
.contact i{
    font-size: 56px;
    line-height: 97px;
    text-align: center;
    border: 3px solid white;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    color: white;   
}
.contact .detail{
    color: white;
}
.contact .detail h2{
    font-weight: bold;
}
.contact .detail h4{
    font-size: 28px;
}
.contact>.col-md-12{
    margin: 10px 0;
}
.contact .icon, .contact .detail{
    text-align: center;
}
.profile-description{
    background: #F4F2F3;
    padding: 0 20px 50px 20PX;
}
.profile-description h1{
    background: linear-gradient(to right, #1C4153 80%, #02987F 100%);
    line-height: 15px;
    margin-top: 50px;
    font-weight: bold;
}
.profile-description h1 span{
    background: #F4F2F3;
    padding-right: 10px;
}
.profile-description h3{
    font-weight: bold;
}
.profile-description h4{
    color: #00A6FA;
}
.profile-description p{
    font-size: 18px;
}
.rating-main{
    font-size: 27px;
    font-weight: bold;
    margin-top: 25px;
    line-height: 55px;
}
.rating {
    position: relative;
    height: 22px;
    width: 132px;
    display: inline-block;
}
.rating:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: radial-gradient(20px at center, transparent 7.5px, #F4F2F3 9px);
  background-position: 0px 0px;
  background-size: 26px 100%;
}
.music{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: #00A6FA;
    line-height: 40px;
}
.music i{
    display: block;
    margin: 0 auto;
    font-size: 46px;
    width: 100px;
    height: 100px;
    background: #D1CDCC;
    border-radius: 100px;
    line-height: 100px;
    color: black;
}